

.Dash_Container{
    display: flex; 
    width: 100%; 
    height: 25rem;
}
.dash_wrapp_content{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}







/************* Side Navigation menu  *************/
.Side_menu_local_Top{
    display: flex; 
    align-items:center ;
    justify-content: center;
    gap: 0.8rem; 
}
.Side_menu_local_Top h1,.log{
  color: var(--white-bg-color); 
}
.log{
    cursor: pointer;
    width: 29px;
    height: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none; 
    border-radius: 50%;
    transition: 0.2s all ease;
}
.log:hover{
    background-color: var(--white-bg-color);
    color: var(--dark-bg-color);
}
.Cotainer_sideBar_Wrapper{ 
    -webkit-box-sizing: border-box; 
    -webkit-box-orient: vertical;
    -webkit-transition: all 0.5s ease;
    box-sizing: border-box;
    background-color: rgb(59, 56, 56); 
    margin: 0rem; 
    margin-right: 1rem; 
    transition: 0.4s all ease-in;
}
.Nav_menu_links{ 
    display: flex;
    align-items: center;
    font-size: 16.5px;
    text-decoration: none;
    color: var(--white-bg-color);
    padding: 20px 18px;
    gap: 15px;
    transition: 0.2s all ease;
}
.Nav_menu_links:hover{
    background-color: rgba(204, 204, 204, 0.678);
    color: var(--dark-bg-color);
}