
:root{
--white-bg-color: #fff; 
--dark-bg-color: #000;
--red-bg-color: rgb(255, 0, 0); 
--light-bg-hover-effect: rgb(229, 229, 229); 
--header-bg-color: rgb(73, 172, 189); 
--flex-display-ftp-format: flex; 
--center-dis-format: center; 
--login_style_bgColor: rgb(0, 255, 170);
--HTDglobalefont:-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,
  "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; 
  --OferCookie-sett-font: "barlow"; 
  --HOMEglobalefont_min_line: neo sans, Arial, Helvetica, sans-serif; 
  --PROFILEglobafont_min_line_fira: fira sans, sans-serif; 
--Footer-Background-colorBg: rgb(54, 203, 236); 
--Main_HomeBoxBar_banner-bg_color: rgb(140, 223, 177); 
/* profile Styling */
--Section_Main_Profile_boxBg_color: rgb(157, 203, 237); 
--Section_Main_Profile_fontBg_color: rgb(40, 40, 40); 
--Authentcation_error_Bg_Color: #f8d7da; 
/* Status styling */
--Status_section_box_bg_Color: rgb(202, 223, 234);
--Status_Button_choise_bg_Color: rgb(79, 171, 238); 
--Stat_access_font_dark_Grey_bg_color: rgb(75, 75, 75);
 
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  max-width: 100vw; 
}
/* logo app */
.logo_base{
  width: 5.9rem; 
  height: 100%; 
  margin: 0rem; 
  box-sizing: border-box;
  display:flex; 
  align-items: center;
  justify-content: center;
}
.container{
  min-height: 100%;
  margin-bottom: 3.5rem; 
}
.Navigation_Bar_automate02654{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display:flex; 
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  height: 5rem;
  width: 100%; 
  background-color: rgb(73, 172, 189);
}
.Object_mainLinkes_NavBar_container{
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
  display: flex;
  align-items: center;
  justify-content: center; 
  flex-direction: row;
  margin: 0rem; 
  padding: 0rem; 
  width: 50%; 
  height: auto; 
}
.Object_mainLinkes_NavBar_container
.justice_navigation_Opt{
 box-sizing: border-box;
 display:flex; 
 list-style: none;
}
.justice_navigation_Opt a{
  font-size: 19.65598px; 
  font-family: var(--HTDglobalefont); 
  color: var(--white-bg-color); 
  text-decoration: none;
  margin: 0rem; 
  padding: 0rem; 
  margin-left: 3rem; 
}
.registration_baseMain_selectionBtns{
  box-sizing: border-box;
  display:flex; 
  align-items:center; 
  justify-content: center;
  width: auto;
  height: 100%;
  margin: 0rem; 
  margin-right: 1rem;
  padding: 0rem; 
}
.base_registerOption{
  box-sizing: border-box;
  width: 4.8rem; 
  height: 2.5rem; 
  cursor:pointer; 
  margin: 0.22rem; 
  font-size: 14px; 
  font-family: var(--HTDglobalefont);
  border: none; 
  border-radius: 0.2rem;
}
.base_registerOption ._log{
  background-color: var(--login_style_bgColor);
}

/******* Main part *******/
.sub_HeadCalc_top{
  -webkit-box-sizing: border-box;
  -webkit-box-direction: normal;
  -webkit-box-align: center;
  box-sizing: border-box;
  display:flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--Main_HomeBoxBar_banner-bg_color);
  margin: 0rem; 
  padding: 0rem; 
  margin-top: 1.5rem; 
  height: 25rem; 
  overflow: hidden;
}
.sub_HeadCalc_top
.Head_titleBan{
  font-size: 35px;
  color: rgb(39, 39, 39); 
  margin: 0.5rem; 
  padding: 0rem; 
}
.sub_HeadCalc_top
.head_subtitleBen{
  text-align: center;
  font-size: 22px; 
  color: rgb(52, 52, 52); 
  margin: 0.5rem; 
  padding: 0rem; 
}
.inscription_side_subRedirection{
  width: 7.8rem; 
  height: 3.2rem; 
  cursor: pointer;
  font-size: 17px;
  background-color:rgba(171, 195, 187, 0.986); 
  border: 1px solid var(--dark-bg-color) !important;
  border-radius: 5px;
  font-weight: 600; 
  text-decoration: none;
}
.inscription_side_subRedirection:hover{
  background-color:rgba(151, 195, 180, 0.986);
}

/******** Footer part  ********/
.Footer_cotainer_MainSection{
  -webkit-box-direction: normal;
  -webkit-box-sizing: border-box;
  -webkit-box-orient: horizontal;
  box-sizing: border-box; 
  display: flex;
  align-items:center;
  justify-content: center; 
  background-color:var(--Footer-Background-colorBg);
  width: 100%; 
  height: 6.5rem; 
  overflow: none;
  margin: 0rem auto -50px; 
  z-index: 1000;  
  position: relative;
  top: 16px;
}
.Copyrights_ftt{
  font-size: 20.258px; 
  font-family: var(--HTDglobalefont) !important;
}
