
@import url('https://fonts.googleapis.com/css?family=Inconsolata&text=Hello%20World');
@import url("https://fonts.googleapis.com/css?family=Courgette:400,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

:root{
--white-bg-color: #fff; 
--dark-bg-color: #000;
--red-bg-color: rgb(255, 0, 0); 
--light-bg-hover-effect: rgb(229, 229, 229); 
--header-bg-color: rgb(73, 172, 189); 
--flex-display-ftp-format: flex; 
--center-dis-format: center; 
--login_style_bgColor: rgb(0, 255, 170);
--HTDglobalefont:-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,
  "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; 
  --OferCookie-sett-font: "barlow"; 
  --HOMEglobalefont_min_line: neo sans, Arial, Helvetica, sans-serif; 
  --PROFILEglobafont_min_line_fira: fira sans, sans-serif; 
--Footer-Background-colorBg: rgba(114, 199, 218, 0.9); 
--Main_HomeBoxBar_banner-bg_color: rgb(173, 223, 195); 
--navs-links-bg-color: #faf1f1; 
/* profile Styling */
--Section_Main_Profile_boxBg_color: rgb(157, 203, 237); 
--Section_Main_Profile_fontBg_color: rgb(40, 40, 40); 
--Authentcation_error_Bg_Color: #f8d7da; 
/* Status styling */
--Status_section_box_bg_Color: rgb(202, 223, 234);
--Status_Button_choise_bg_Color: rgb(79, 171, 238); 
--Stat_access_font_dark_Grey_bg_color: rgb(75, 75, 75);
 
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}
/* logo app */
.logo_edit_wrpp{
  /* background-color: #000; */
  border-radius: 50%;
  padding: 20px 5px;
}
.logo_self{
  width: 6.5rem;
}
.logo_base{
  width: 11%; 
  height: 100%; 
  margin: 0rem; 
  box-sizing: border-box;
  display:flex; 
  align-items: center;
  justify-content: flex-end;
}
.container{
  min-height: 100%;
  margin-bottom: 3.5rem; 
  width: 100%; 
  
}

/* Navigation Bar Styling */
.Navigation_Bar_automate02654{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display:flex; 
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  height: 5.4rem;
  width: 100%; 
  background-color: var(--white-bg-color);
  box-shadow: 1px 1px 1px gray;
}
.Object_mainLinkes_NavBar_container{
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
  display: flex;
  align-items: center;
  justify-content: center; 
  flex-direction: row;
  margin: 0rem; 
  padding: 0rem; 
  width: 50%; 
  height: 100%; 
}
.Object_mainLinkes_NavBar_container
.justice_navigation_Opt{
 box-sizing: border-box;
 display:flex; 
 list-style: none;
 padding: 0rem; 
 width: 90%; 
 justify-content: space-around;
}

.justice_navigation_Opt a{
  font-size: 21.65598px; 
  font-family: var(--HTDglobalefont); 
  color: var(--dark-bg-color); 
  text-decoration: none;
  margin: 0rem; 
  padding: 0rem; 
  margin-left: 3rem; 
  font-weight: 600;
}

.justice_navigation_Opt a:hover{
   color: rgb(106, 106, 106);
}

.registration_baseMain_selectionBtns{
  box-sizing: border-box;
  display:flex; 
  align-items:center; 
  justify-content: center;
  width: auto;
  height: 100%;
  margin: 0rem; 
  margin-right: 1rem;
  padding: 1rem; 
}
.base_registerOption{
  box-sizing: border-box;
  width: 5.8rem; 
  height: 2.6rem; 
  cursor:pointer; 
  margin: 0.22rem; 
  font-size: 14px; 
  font-family: var(--HTDglobalefont);
  border: none; 
  border-radius: 0.2rem;
  font-size: 15.5px;
  font-weight: 600;
}
.base_registerOption ._log{
  background-color: var(--login_style_bgColor);
}

/* Nav Bar mini (resized) */
.navigation_bar_iconSide{
  margin: 1rem;
padding: 6.5px 6px;
font-size: 20px;
cursor: pointer;
transition: 0.2625s all ease-in;
border: 1px solid var(--dark-bg-color);
border-radius: 25%;
display: flex;
align-items: center;
justify-content: center;
z-index: 1000;
}
.navigation_bar_iconSide:hover{
  background-color: rgb(187, 216, 206); 
}
.navigation_linksList{
 -webkit-box-sizing: border-box;
 -webkit-box-orient: normal;
 -webkit-box-flex: 0;
 -webkit-animation: none;
 animation: none;
 box-sizing: border-box;
 width: 100%; 
 height: auto;
 position: fixed;
 top: 5.2rem; 
 background-color: beige;
 z-index: 1000;
 padding: 11px 13px;
}
.listInfos_navs{
  box-sizing: border-box; 
  display: flex;
  flex-direction: column;
  width: 100%; 
  height: 100%; 
  position: relative;
  z-index: 1001;
  border-bottom: 1px solid var(--dark-bg-color);
}
.listInfos_navs a{
  font-family: var(--HTDglobalefont);
  font-size: 16.4px; 
  color: rgb(77, 76, 76); 
  height: 25%; 
  padding: 10px 15px;
  list-style: none;
  text-decoration: none;
}
.listInfos_navs a:hover{
  background-color: #b5c8cad3;
  border-radius: 2.5px;
}
.logout{
  cursor: pointer; 
}

/******* Main part *******/
.font_man_banner{
  width: 20rem; 
}
.direct_side_fixation_part{
  display:flex; 
  align-items: center;
  width:80%; 
  margin-bottom: 2.5rem;
}
.sub_HeadCalc_top{
  -webkit-box-sizing: border-box;
  -webkit-box-direction: normal;
  -webkit-box-align: center;
  box-sizing: border-box;
  display:flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--white-bg-color);
  margin: 0rem; 
  margin-top: 1.5rem; 
  height: auto; 
  overflow: hidden;
  padding: 1rem; 
}
.sub_HeadCalc_top
.Head_titleBan{
  font-size: 38px;
  color: rgb(39, 39, 39); 
  margin: 0.5rem; 
  padding: 0rem; 
}
.sub_HeadCalc_top
.head_subtitleBen{
  text-align: center;
  font-size: 22px; 
  color: rgb(52, 52, 52); 
  margin: 0.5rem; 
  padding: 0rem; 
}
.instructe_main_pageLinkbtns{
  box-sizing:  border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%; 
  height: auto; 
  gap: 3rem;
}
.inscription_side_subRedirection{
  width: 50%; 
  height: 3.5rem; 
  cursor: pointer;
  font-size: 17px;
  background-color:rgba(171, 195, 187, 0.986); 
  border: 1px solid var(--dark-bg-color) !important;
  border-radius: 5px;
  font-weight: 600; 
  text-decoration: none;
  margin: 0.2rem; 
}
.t_sign{
  background-color:rgb(47, 119, 182); 
  color: var(--white-bg-color);
}
.inscription_side_subRedirection:hover{
  background-color:rgba(98, 180, 221, 0.98)
}
.c{
  position: relative;
  top: 5px;
}

.propos_bannerWrapp_check{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0rem; 
  padding: 1rem; 
  width: 100%; 
  height: auto; 
  margin-top: 1rem; 
}
.propos_bannerWrapp_check,
.classe_baseListed_box{
   font-family: var(--HTDglobalefont);
   text-decoration: none;
    
}
.sider_blinktext{
  text-align: center;padding: 1rem;
}
.sider_blinktext h2{
 font-size: 38px; 
}
.sider_blinktext p{
  font-size: 25px;
}
.sider_blinktext b{
  background: white;
padding: 4px;
text-align: center;
font-size: 16px;
border-radius: 3px;
border: 1px solid;
}
.container_wrapp_dier0323556{
  box-sizing: border-box;
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 4.5rem; 
  margin: 0rem; 
  padding: 0rem; 
}
.contentPart_selection_side{
  -webkit-box-sizing: border-box;
  -webkit-transition: 0.3s ease-in;
  box-sizing: border-box;
  transition: 0.3 all ease-in;
  width: 28%; 
  height: auto;
  padding: 0.5rem;
  padding-bottom: 2.3rem;  
  background-color: #c2d4f3;
  border-radius: 5px;
  box-shadow: 3px 3px 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: normal;
}
.contentPart_selection_side h2{
  text-align: center;
  font-size: 25px; 
  display: flex; 
  align-items: center; 
  justify-content: center;
}
.contentPart_selection_side p{
  font-size: 23px;
  text-align: center;
}
.icon_rect{
  font-size: 38px;
}
.redige_siteframe{
  width: 85%; 
  height: 2.8rem; 
  text-decoration: none;
}
.rcp_btn{
  width: 100%; 
  height: 100%; 
  cursor: pointer;
}
/******** Footer part  ********/
.Footer_cotainer_MainSection{
  -webkit-box-direction: normal;
  -webkit-box-sizing: border-box;
  -webkit-box-orient: horizontal;
  box-sizing: border-box; 
  display: flex;
  align-items:center;
  justify-content: center; 
  background-color:var(--Footer-Background-colorBg);
  width: 100%; 
  height: 6.5rem; 
  overflow: none;
  margin: 0rem auto -50px; 
  z-index: 1000;  
  position: relative;
  top: 16px;
}
.Copyrights_ftt{
  font-size: 20.258px; 
  font-family: var(--HTDglobalefont) !important;
}
