
.dx_box-format{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0rem; 
    padding: 0rem;
    margin-top: 1.5rem; 
    overflow: hidden;
}
.Profile_mainContainer01355{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:60%;
    height: 16rem; 
    background-color: var(--Section_Main_Profile_boxBg_color); 
    border: 1px solid var(--dark-bg-color); 
    text-decoration: none;
    border-radius: 3px;
    padding: 5px 8px 5px;
}


/*********  Status profile Styling ********/
.Status_sub_title{
    font-size: 22px; 
    color: var(--Section_Main_Profile_fontBg_color);
    text-align: center;
}
.Container_option_userStatus{
    -webkit-box-flex: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; 
    height: auto; 
    padding: 5px 5px; 
    margin: 0rem; 
    margin-top: 0.5rem; 
    overflow: hidden;
}
.x_formOption_all{
  box-sizing: border-box;
  background-color: var(--Status_section_box_bg_Color);
  width: 65%;
  height: 32rem; 
  border: 1px solid var(--dark-bg-color) !important; 
  border-radius: 4px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0rem; 
  padding: 15px 8px;
}
.usr_option{
    -webkit-box-sizing: border-box;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    box-sizing: border-box; 
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto; 
    margin: 0rem; 
    padding: 0rem; 
    margin-bottom: 1.5rem;
}
.x_formOption_all
.Sub_Status_btn{
    width: 7.5rem; 
    height: 2.8rem; 
    background-color: var(--Status_Button_choise_bg_Color);  
    border: 1px solid var(--dark-bg-color); 
    border-radius: 4px;
    font-weight: 500;
    font-size:16px;
    letter-spacing: 1px;
    cursor:pointer; 
}
.Check_fild_opt{
box-sizing: border-box;
width: 40%;
height: 22rem;
background-color: lightskyblue;
border: 1px solid;
text-decoration: none;
display: flex;
flex-direction: column;
margin: 1.2rem; 
padding: 0.2rem;
overflow: none;
cursor: pointer;
}
.Check_fild_opt:hover{
    background-color: rgba(135, 206, 250, 0.567);
}
.label_all_wrapp{
    display:flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; 
    height: 100%; 
    margin: 0rem; 
    padding: 0rem; 
    overflow: hidden;
    cursor: pointer;
}
.switch{
    background-color: #fff;
    font-weight: 600;
}
.label_all_wrapp p{
    font-size: 25px; 
    color: var(--Section_Main_Profile_fontBg_color);
    font-family: var(--HTDglobalefont);
    text-decoration: none;
}
.radio_hide{
   visibility: hidden;
} 

/*********  Status/etudiant_status Styling ********/
.wrapp_form_setStat_user{
 -webkit-box-sizing: border-box;
 -webkit-box-direction: normal;
 -webkit-box-orient: horizontal;
 box-sizing: border-box;
 display:flex; 
 flex-direction: column;
 align-items: center;
 justify-content: center;
 overflow: hidden; 
 margin: 0rem; 
 padding: 5px 5px 5px 5px;
 margin-top: 0.52989rem; 
}
.wrapp_form_setStat_user
.foreign_side_cl{
    font-size: 18px; 
    color: var(--Stat_access_font_dark_Grey_bg_color); 
    font-family: var(--HTDglobalefont);
    font-weight: 600; 
    text-decoration: none;
    margin: 0.2rem;
}

.Status_input_Vle{
    box-sizing: border-box;
    width: 35%;
    height: 2.1656598rem;
    margin: 0rem;
    margin-top: 0.2rem;
    padding: 0rem;
    padding-left: 0.2655rem;
    margin-bottom: 1.06265rem;
}

.sub_stat_user_Button{
width: 9rem;
height: 2.3rem;
font-family: var(--HTDglobalefont);
margin: 0;
margin-top: 1rem;
font-weight: 600;
font-size: 16px;
letter-spacing: 1px;
cursor: pointer;
padding: 3px 3px 3px 3px; 
text-decoration: none;

}

/* Spinner Styling */
@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .loading-spinner {
    width: 50px;
    height: 50px;
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #383636; /* Black */
    border-radius: 50%;
    animation: spinner 1.6s linear infinite;
  }
  .spinner-container {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 185px;
    width: auto; 
  }