
:root{
--white-bg-color: #fff; 
--dark-bg-color: #000;
--red-bg-color: rgb(255, 0, 0); 
--header-bg-color: rgb(73, 172, 189); 
--flex-display-ftp-format: flex; 
--center-dis-format: center; 
 
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.header_sign{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display:flex; 
  flex-direction: row;
  height: 5rem;
  width: 100%; 
  background-color: rgb(73, 172, 189);
}
